#root {
  margin: 0 auto;
  margin: 0 3rem;
}

/* <---- NAVBAR ----> */

.sidebar{
  display: none;
}

.container-navbar{
  
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  .container-navbar-logo{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  }
  .navbar-logo{
      width: 50px;
  }
  .navbar-name{
      text-align: center;
      justify-content: center;
      align-items: center;
      font-family: var(--font-headings);
      font-size: var(--text-size-p);
      color: var(--subTitle-color);
  }
  .btn-menu{
      visibility: hidden;
      cursor: pointer;
  }
}

.navbar{
  display: flex;
  padding: 2px;
  gap: 10px;
}
.navbar a{
  color: var(--p-color); 
  text-decoration: none;
}
.navbar h3{
  color: var(--dove-gray-400);
}

.btn-nav{
  font-family: var(--font-buttons);
  font-size: var(--text-size-btn-S);
  background: none;
  color: var(--dove-gray-100);
  padding: 6px 6px;

  background: 
  linear-gradient(90deg, var(--picton-blue-100) 50%,#000 0) 
  var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
        background-clip: text;
  transition: .4s;
}
.btn-nav:hover {
  --_p: 0%;
}

/* <---- HERO ----> */


.container-hero {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  height: fit-content;
  z-index: 1;
  gap: 30%;
}

.hero {
  margin: 24px 0;
  display: flex;
  width: 100%;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 30px;
  position: relative;
}

.hero img {
  margin: 20px;
  height: 15rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 20px;
}

.hero-title h1 {
  color: var(--title-main-color);
  font-family: var(--font-headings);
  font-size: var(--text-size-h2);
  font-style: normal;
  font-weight: 600;
  width: wrap;
  gap: 20px;
  line-height: 75px;
}

.hero h1 span {
  background: linear-gradient(135deg, #00000000 0, #00b2ff 30%, #00b2ff 70%, #00000000 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  text-align: center;
  transform: translateZ(0);
  background-size: 200% auto;

  animation: animate 7s ease infinite;

  color: var(--picton-blue-500);
  font-size: var(--text-size-h1);
  font-size: 5rem;
  line-height: 1%;
  font-weight: 900;
  letter-spacing: -1%;
}

.container-footerHero {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;

}

.footerHero-links img {
  width: 30px;
  filter: opacity(90%);
}

.footerHero-description h3 {
  font-family: var(--font-headings);
  font-size: var(--text-size-h3);
  text-align: end;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

.footerHero-description h4 {
  font-family: var(--font-headings);
  font-size: var(--text-size-h4);
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;

  padding: 20px 0;
}

.container-divider {
  margin: 0 auto;
}

.divider {
  margin: 0 auto;
  height: 1px;
  max-width: 1120px;
  min-width: 100px;
  width: 80%;
  background-color: var(--dove-gray-200);
}


/* <------ ABOUT ME -----> */


.container-aboutme{
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
  "a a"
  "b c"
  "b d";
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 1000px;
  margin-top: 40PX; /* 6.24rem - 100px */
  
  box-sizing: border-box;
  border-radius: 30px;
}
.container-aboutme h2{
  grid-area: a;
  display: flex;
  width: 100%;
  height: 74px;
  flex-direction: column;
  justify-content: center;  
  font-size: var(--text-size-h2);
  font-family: var(--font-headings);
  color: var(--title-main-color);
}
.container-aboutme p{
  display: flex;
  max-width: 500px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;

  font-size: var(--text-size-p);
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: var(--p-color);
}
.container-aboutme .p-1{
  grid-area: b;
}
.container-aboutme .p-2{
  grid-area: c;
}
.container-aboutme .p-2 span{
  color: var(--acent-color);
}
.aboutme-button{
  grid-area: d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: end;

  
}
.aboutme-button .button{
  position: relative;
  width: auto;
 
  border-radius: 6px;
}
.aboutme-button .button:hover{
  background-color: var(--acent-color-active);
}


/* <---- SKILLs ----> */

.container-skills{
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-column-gap: auto;
  grid-row-gap: 20px;
  grid-template-areas:
  "a d"
  "b d"
  "c d";

  justify-content: center;
  max-width: 1000px ;
  height: auto;
  margin-top: 80px ;
  margin-bottom: 80px;
  border-radius: 30px;
  padding: 60px 20px;
  box-sizing: border-box;
  background-color: var(--background-card);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.title-skills{
  grid-area: a;
}
.title-skills h2{
  font-family: var(--font-headings);
  font-size: var(--text-size-h2);
  height: 78px;
  margin-left: 55px;
  color: var(--title-main-color);
  
}
.container-skills h3{
  font-size: var(--text-size-h4);
  font-family: var(--font-headings);
  color: var(--subTitle-color);
  margin-left: 40px;
}
.container-skills-code, .container-skills-design{
  display: flex;
  padding: 0px 30px;
  flex-direction: column;
  grid-area: b;
  gap: inherit;
  border-radius: 30px;
  align-items: flex-start;
}
.container-tags{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px 11px;
  margin: 10px 0;
} 
.tag{
  width:wrapper;
  display: block;
  padding: 4px 8px;
  border:2px solid var(--dove-gray-800);
  border-radius: 5px;

  font-size: var(--text-size-btn-S);
  font-family: var(--font-buttons);
  font-weight: 400;
  color: var(--p-color);
}
.container-skills-design{
  grid-area: c;
}

.container-skills-lenguage{
  grid-area: d;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: auto;
  margin-left: 30px;

  border-radius: 30px;
  background: var(--picton-blue-50);
  border: 1.234px solid var(--dove-gray-100);

  z-index: 1;
  background: linear-gradient(-45deg, red, green, var(--picton-blue-700), yellow);
  background-size: 400% 400%;
  animation: animate 10s ease infinite;

  .container-lenguage{
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      padding: 20px;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .lenguage{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
      }
  }
  .container-lenguage .lenguage h4{
      font-size: var(--text-size-btn-S);
      font-family: var(--font-buttons);
      font-weight: 400;
      color: var(--white);
  }
 
}
@keyframes animate {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

/* <------------ PROJECTS -------------> */

.container-projects{
  margin: auto;
  max-width: 1000px;
}
.container-projects h2{
  font-family: var(--font-headings);
  font-size: var(--text-size-h2);
  margin-top: 80px;
  color: var(--title-main-color);
  margin-left: 70px;
}

.grid-projects{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 80px;
}
.project-card{
  display: flex;
  flex-direction: column;
  background-color: var(--background-card);
  padding: 8px 8px 16px 8px;
  border-radius: 20px;
  transition: 1s box-shadow;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 40% cover 50%;
}
.project-card:hover{
  box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.4);
}

.project-card a{
  text-decoration: none;
}
.project-card img{
  object-fit: cover;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: var(--picton-blue-100);
  border-radius: 20px;
}
.project-card h3{
  display: flex;
  justify-content: start;
  margin: 20px 10px;

  font-family: var(--font-headings);
  font-size: var(--text-size-h3);
  color: var(--subTitle-color);
}
.divider-card{
  margin: 0 auto;
  height: 1px;
  width: 100%;
  background-color: var(--container-hero-color); 
}

.project-card p{
  display: flex;
  justify-content: start;
  margin: 10px 10px;

  font-family: var(--font-body);
  font-size: var(--text-size-p);
  color: var(--p-color);
  font-weight: 300;   
}

@keyframes reveal {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* <------------ FOOTER -------------> */

.container-footer{
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  .footer-contact{
      max-width: 1120px;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
  }
}
.footer-contact h3{
  font-family: var(--font-headings);
  font-size: var(--text-size-h3);
  color: var(--title-main-color);

}
.container-footer-links{
 
  margin: auto;
  max-width: 1120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-links{
  display: flex;
  gap: 20px; 
  padding: 10px;
}
.footer-links img{
  width: 30px;
}
.container-whatsapp-email{
  font-size: var(--text-size-h4);
  font-family: var(--font-headings);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.container-whatsapp-email a {
  text-decoration: none;
  font-size: var(--text-size-h4);
  font-family: var(--font-headings);
  color: rgba(255,255,255,0.9);
}
.container-footer h5{
  font-size: var(--text-size-p);
  font-family: var(--font-body);
  padding: 20px;
  color: rgba(255,255,255,0.8);

}

.container-whatsapp-email a:hover{
  color: rgba(255,255,255,0.4);
}