/* @import "style.css"; */

@media (max-width: 950px) {
    
    body{
        margin: 0 2rem;
    }

    /* <---- NAVBAR ----> */ 
    .navbar{
        display: none;
    }
    .container-navbar .btn-menu{
        visibility: visible;
    }

    /* <---- SIDEBAR ----> */
    .active{
        display: block;
    }
    .sidebar{
        background-color: var(--picton-blue-900);
        /* width: 50vw; */
        height: 100vh;
        /* border-radius: 0 0 0 20px; */
        z-index: 20;
        position: fixed;
        top: 0;
        right: 0;
        opacity: 90%;

        .sidebar-header{
            display: flex;
            justify-content:space-between;
            align-items: center;
            padding: 20px 40px;
        }
        .sidebar-header .button{
            /* background-color: var(--picton-blue-700); */
            /* padding: 8px; */
            cursor: pointer;
        }
        
        .sidebar-list{
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 20px 40px;
            gap: 10px;
        }
        .sidebar-list li {
            list-style-type: none;
        }
        .sidebar-list li a{
            text-decoration: none;
            font-family:var(--font-body);
            font-size: var(--text-size-h3);
            color: var(--white);
        }
    }
    .sidebar img{
        width: 50px;
        position: absolute;
        bottom: 20px;
        left: 30px;
        filter: opacity(20%);
        /* padding: 200px 0 0 40px; */
    }


    /* <---- HERO ----> */

    .container-hero{
        height: auto;
        margin-bottom: 5rem;
    }
    .hero{
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    .hero img{
        height: 18rem; /*230px - 14.4rem - 40vh - 18rem*/
    }
    .hero-title{
        width: 400px;
    }
    .light-btn{
        top: 6%;
        right: 10%;
    }
    .dark-btn{
        top: 10%;
        right: 10%;
    }

    /* <---- HERO ----> */

    .container-aboutme{
        
    }

    /* <---- PROJECTS ----> */

    .grid-projects{
        grid-template-columns: repeat(1, 1fr);
    }
    /* .project-card img{
        object-fit: cover;  
        height: 200px;
    } */

} 


