@media (max-width: 950px) {
    
    body{
        margin: 0 2rem;
    }

    /* <---- NAVBAR ----> */ 
    .navbar{
        display: none;
    }
    .container-navbar .btn-menu{
        visibility: visible;
    }

    /* <---- SIDEBAR ----> */
    .active{
        display: block;
             
    }
    
    .sidebar{
        /* background-color: var(--picton-blue-900);
        height: 100vh;
        z-index: 20;
        position: fixed;
        top: 0;
        right: 0;
        opacity: 90%; */

        background-color: #ebebee;
        height: max-content;
        z-index: 1000;
        position: fixed;
        bottom: 0;
        right: 0;
        opacity: 1;
        width: 100%;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        transition: right 5s ease, opacity 0.3s ease;
        opacity: 0; /* Inicialmente invisible */

        .sidebar-header{
            display: flex;
            justify-content:space-between;
            align-items: center;
            padding: 30px 40px 0px;
        }
        .sidebar-header .button{
            cursor: pointer;
        }
        
        .sidebar-list{
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 20px 20px 60px 20px;
            gap: 20px;
            
        }
        .sidebar-list li {
            list-style-type: none;
        }
        .sidebar-list a {
            color: #6d6d6d;
            font-size: medium;
            font-weight: 400;
        }
        
    }
    .sidebar img{
        width: 50px;
        position: absolute;
        bottom: 20px;
        left: 30px;
        filter: opacity(20%);
    }

    .sidebar.active{
        right: 0;
        opacity: 1; /* Visible cuando está activo */   
    }

    /* <---- HERO ----> */

    .container-hero{
        height: auto;
        margin-bottom: 5rem;
    }
    .hero{
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    .hero img{
        height: 18rem; /*230px - 14.4rem - 40vh - 18rem*/
    }
    .hero-title{
        width: 400px;
    }
    .light-btn{
        top: 6%;
        right: 10%;
    }
    .dark-btn{
        top: 10%;
        right: 10%;
    }

    /* <---- HERO ----> */


    /* <---- PROJECTS ----> */

    .grid-projects{
        grid-template-columns: repeat(1, 1fr);
    }

} 


